<fieldset>
<section class="solidbody">
<legend><%= set_subheader("Edit score details for client: #{client_full_name(@client)}") %> </legend>
<%= form_for @client_score, :url => client_scores_update_path(@menu,@client_score.id), :method => :put do |f| %>
  <%= render "shared/common_error", object_argument: @client_score %>
	<%= render 'form',arg_object: f %>
 	<%= link_to 'Cancel', client_scores_show_path(@menu,@client_score.id),class: "secondary button radius" %>
 	<%= f.submit "Save", class: 'button radius'%>
<% end %>
</section>
</fieldset>