
<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Sanction information for: #{client_full_name(@client)}") %></legend>

			<p>
				<b>Service Program: </b>
				<%= get_service_program_name(@sanction.service_program_id) %>

			</p>

			<p>
				<b>Sanction Type: </b>
				<%= drop_down_value_description(@sanction.sanction_type) %>
			</p>
			<p>
				<b>Infraction Begin Date: </b>
				<%=format_db_date(@sanction.infraction_begin_date) %>

			</p>
			<p>
				<b>Infraction End Date: </b>
				<%=format_db_date(@sanction.infraction_end_date) %>

			</p>


			<p>
			  <b>Worker: </b>
			  <%= get_user_name(@sanction.updated_by)%>
			</p>

			<%= render "notes/notes_field_show", arg_notes: @notes %>
		   <%= link_to 'Back', sanctions_path,class: "secondary button radius" %>
             <%if @is_it_progressive_sanction == true %>
             <!-- if it is progressive sanction -->
             	<%if @sanction.compliance_office_id? %>
               	   <!-- if santion is not picked up by compliance officer-->
	               	<%if  can_logged_in_user_edit?("SANCTION",@sanction.id) %>
	               	   <!-- if authorized fron queue to edit-->
	               	   	<%= link_to "Edit",edit_sanction_path(@sanction), class: "button radius"%>
						<%= link_to 'Delete', @sanction, method: :delete, data: { confirm: 'Are you sure?' },class: "button alert radius" if @sanction_details_present == false %>
	               	<%else%>
		               	<%= link_to "Edit","#", class: "disabled button"%>
						<p>
			        		<h6 class="subheader"><b>Edit</b> button is disabled because, You are not the compliance officer for this sanction.
			        			compliance officer for this sanction is: <%= "#{get_user_name(@sanction.compliance_office_id)}"%>
			        		  </h6>
			        	</p>

	                <%end%>
	            <%else%>
	            	<%if @sanction.infraction_end_date? %>
		            	 <!-- Edit button is not shown as it is removed for sanction queue and task is completed. -->
		            	 <%= link_to "Edit","#", class: "disabled button"%>
						<p>
			        	<h6 class="subheader"><b>Edit</b> button is disabled because, sanction is closed</h6>
			        	</p>
		            <%else%>
		            	<%= link_to "Edit","#", class: "disabled button"%>
						<p>
			        	<h6 class="subheader"><b>Edit</b> button is disabled because, sanction is in queue:'Ready for Sanctions Queue',not assigned to any user.Users subscribed to that queue will be able to work on this sanction.</h6>
			        	</p>
                     <%end%>
	            <%end%>
              <%else%>
              	<%= link_to "Edit",edit_sanction_path(@sanction), class: "button radius"%>
						<%= link_to 'Delete', @sanction, method: :delete, data: { confirm: 'Are you sure?' },class: "button alert radius" if @sanction_details_present == false %>

              <%end%>

	</section>
</fieldset>