<p>
		<table>
		<caption style="text-align:inherit"><b><%= "Representatives" %></b><p></p><caption>
		  <thead>
		    <tr>
				<th> Program Unit ID </th>
				<th> Representative </th>
				<th> Type </th>
				<th> Account Number </th>
				<th> Start Date </th>
				<th> End Date </th>
				<!-- <th> Status </th> -->
				<% if show_hyperlink %>
					<th> Action </th>
				<% end %>



			</tr>
		  </thead>
		    <tbody>
				<% arg_pgu_representative.each do |arg_pgu| %>
					<tr>
						<td>  <%= arg_pgu.program_unit_id %></td>
						<td>  <%= get_client_full_name(arg_pgu.client_id) %></td>
						<td>  <%= drop_down_value_description(arg_pgu.representative_type) %></td>
						<td>  <%= AccountNumber.get_representative_account_number(arg_pgu.id) %></td>
						<td>  <%=  format_db_date arg_pgu.start_date %></td>
						<td>  <%=  format_db_date arg_pgu.end_date %></td>
						<!-- <td>  <%= drop_down_value_description(arg_pgu.status) %></td> -->
						<% if show_hyperlink %>
							<td>  <%= link_to "Show",program_unit_representatives_show_path(arg_pgu.id),id: "hyperlink" %></td>
						<% end %>

					</tr>
				 <% end %>
			</tbody>
		</table>
	</p>