<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Add representative to program unit of client: #{client_full_name(@client)}") %></legend>
		<%= form_for(@program_unit_representative, :url => add_ebt_representative_path(@selected_program_unit.id), method: :post) do |f| %>
		  	<% if @program_unit_representatives.present? %>
		  		<%= render "show_added_program_unit_representatives",arg_pgu_representative:@program_unit_representatives,show_hyperlink:@show_hyperlink%>
			<% end %>
		  	<%= render "shared/common_error", object_argument: @program_unit_representative %>
	    	<ul>
		     	<div class="row">
		          <div class="large-4 columns">
		                 <%= render 'form',arg_object: f,arg_pgu_member_collection:@program_unit_members_collection_for_representatives %>
			 	  </div>
			    </div>
			</ul>
			<%= link_to 'Back', program_unit_data_validation_results_path(@selected_program_unit.id) ,class: "secondary button radius" %>
			<% if @program_unit_members_collection_for_representatives.present? %>
				<%= f.submit "Save and add representative",:name => "add",class: 'button radius'%>
			<% end %>
	    	<%= f.submit "Next",:name => "next",class: 'button radius' %>
		<% end %>
	</section>
</fieldset>