<fieldset>
<section class="solidbody">
	<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD'%>
			<p>
					<%= render 'households/selected_household_partial',arg_household: @household %>
				</p>
				<h6><%= set_subheader("Edit #{@characteristics_description} for household member: #{@client.first_name}, #{@client.last_name}") %> </h6>
				<%= form_for @client_characteristic, url: update_household_member_characteristic_path(@household_member.id,@menu,@characteristic_type,@client_characteristic.id), method: :put do |f| %>
				        <%= render "shared/common_error", object_argument: @client_characteristic %>
				        <%= render 'form', arg_object: f,arg_charcteristic_dropdown: @charcteristic_dropdown,arg_notes:@notes ,arg_characteristic_type:@characteristic_type,arg_client_characteristic:@client_characteristic  %>
				        <%= link_to 'Back', start_household_characteristics_data_entry_wizard_path,class: "button secondary radius" %>
						<%= f.submit "Save", class: 'button radius' %>
				        <br>
				<% end %>
	<% else %>
			<legend><%= set_subheader("Edit #{@characteristics_description} for: #{@client.first_name}, #{@client.last_name}") %></legend>
			<% if session[:CLIENT_ID].present? %>
				<%= form_for @client_characteristic, url: update_client_characteristic_path(@menu,@characteristic_type,@client_characteristic.id), method: :patch do |f| %>

				        <%= render "shared/common_error", object_argument: @client_characteristic %>
				        <%= render 'form', arg_object: f,arg_charcteristic_dropdown: @charcteristic_dropdown,arg_notes:@notes ,arg_characteristic_type:@characteristic_type,arg_client_characteristic:@client_characteristic   %>
				        <%= link_to 'Cancel', show_client_characteristic_path(@menu,@characteristic_type,@client_characteristic.id),class: "button secondary radius" %>
						<%= f.submit "Save", class: 'button radius' %>
				        <br>
				<% end %>
			<% else %>
			        <h5 class="subheader">Client is not selected, Select client by clicking Search Client button.</h5>
			        <p></p>
			        <%= render "shared/search_client_button" %>
			<% end %>
	<% end %>


</section>
</fieldset>