 <li class="required">
      <%= arg_object.label :client_id %>

      <%= arg_object.select :client_id, arg_member_collection.collect { |p| ["#{get_client_full_name(p.client_id)} ", p.client_id] },{ :include_blank => 'Select Member' } %>

  </li>
   <li class="required">
      <%= arg_object.label :document_type %>

      <%= arg_object.select :document_type, CodetableItem.item_list(128,"Document Type List").collect { |p| ["#{p.short_description} ", p.id] },{ :include_blank => 'Select Document Type' } %>

  </li>
   <li>
      <%= arg_object.label :document_verfied_date %>
      <%= arg_object.date_field :document_verfied_date, onkeyup:"validate_date_format(event)" %>
  </li>





