<section class="solidbody">
	<%= form_for(@client_doc_verification,:url => update_client_doc_verfication_path(@client_application.id,@client_doc_verification.id), method: :put) do |f| %>
  <%= render "shared/common_error", object_argument: @client_doc_verification %>
    <fieldset>
    	<legend><%= set_subheader("Edit Document verification for selected Application") %></legend>
    	<%= render 'application_screenings/selected_application_details', arg_selected_application:@client_application %>
    	<ul>
	     	<div class="row">
	          <div class="large-6 columns">
	               <%= render 'form_document_verification',arg_object: f ,arg_member_collection: @application_members%>
		 	  </div>
		    </div>
		</ul>
	    <p>
	    	<%= link_to "Cancel",document_verification_index_path(@client_application.id),class: 'secondary button radius'%>

	       <%= f.submit "Save",class: 'button radius'%>
	        </p>

    </fieldset>
<% end %>
</section>