<section class="solidbody">
	<fieldset>
		<legend><%= set_subheader("Document details") %></legend>
		<p>
			<b>Application Member: </b>
			<%= get_client_full_name(@client_doc_verification.client_id) %>
		</p>

		<p>
			<b>Document Type: </b>
			<%=  drop_down_value_description(@client_doc_verification.document_type) %>
		</p>

		<p>
			<b>Verification Date: </b>
			<%= format_db_date(@client_doc_verification.document_verfied_date) %>
		</p>

		<%= link_to 'Back', index_focus_client_documents_path,class: "secondary button radius" %>
		<%# if validate_authorization(668) %>
			<%= link_to 'Edit', edit_focus_client_document_path(@client_doc_verification.id),class: "button radius" %>
		<%# end %>
		<%# if validate_authorization(669) %>
			<%= link_to 'Delete', destroy_focus_client_document_path(@client_doc_verification.id), method: :delete, data: { confirm: 'Are you sure?' },class: "button alert radius" %>
		<%# end %>
		<%# if validate_authorization(670) %>
			<%= link_to "Upload","#",class: 'button radius'%>
		<%# end %>
	</fieldset>
</section>