<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Reject Provider Invoice for Provider:  #{provider_name(@provider)}" ) %>
		</legend>
		<p>
			<%= render "common_invoice_view_fields",arg_provider_invoice:@provider_invoice %>
		</p>

		<%= form_for(@provider_invoice,:url => update_provider_invoice_reject_path(@provider_invoice.id), method: :put) do |f| %>
			 <%= render "shared/common_error", object_argument: @provider_invoice %>
			  <ul>
			       <div class="row">
			         <div class="large-4 columns">
		        			<li class="required">
		        			  <%= f.label :reason,"Rejection Reason" %>
		        			   <%= f.text_area :reason, cols: 40, rows: 7, maxlength: "255" %>
		        			</li>
			          </div>
			       </div>
			    </ul>
			    	<%= link_to 'Cancel',provider_invoice_index_path, class: "secondary button radius" %>
			    	<%= f.submit "Save", class: 'button radius'%>
		<% end %>
  	</section>
</fieldset>