<section class="solidbody">
<fieldset>
<%= set_subheader("Update service programs for: #{@serviceprogram.description}") %>
    <%= form_for(@serviceprogram, :url => service_program_path(@serviceprogram.id), method: :put) do |f| %>
		<%= render 'form',arg_object: f %>
		<p>
	        <%= link_to 'cancel', service_programs_path,class: "secondary button radius"%>
	        <%= f.submit "Save" ,class: 'button radius' %>
       </p>
	<% end %>
</fieldset>
</section>