<section class="solidbody">
<fieldset>
<%= set_subheader("Create a new service program") %>
    <%= form_for(@serviceprogram, :url => service_programs_path, method: :post) do |f| %>
		<%= render 'form',arg_object: f  %>
		<p>
	        <%= link_to "Cancel",service_programs_path,class: 'button secondary'%>
	        <%= f.submit "Update ", class: 'button radius' %>
       </p>
	<% end %>
</fieldset>
</section>