
 <fieldset>
<section class="solidbody">
  <legend><%= set_subheader("Payment history for program unit of client: #{client_full_name(@client)}") %></legend>
<%= render 'program_wizards/selected_completed_program_unit',arg_selected_program_unit: @selected_program_unit %>
    <ul>

      <%= render 'show_partial_program_unit', arg_instate_payment: @in_state_payment)  %>

    <%= link_to("Back", program_unit_in_state_payments_path , class: "secondary button radius") %>
    <%# if validate_authorization(713) %>
    	<%= link_to 'Edit', program_unit_in_state_payments_edit_path(@in_state_payment.id),class: "button radius"  %>
	<%# end %>
    </ul>

</section>
  </fieldset>

