<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Address information for household: #{@household.name}") %></legend>
		    		<%= form_for @household_physical_address, url: update_household_address_path(@household_physical_address.id,@household.id), method: :put do |f| %>
					     	<%= render "shared/common_error", object_argument: @household_physical_address %>
					     	<%= render "contacts/address_confirmation_partial", arg_object: f, arg_partial: "show_entered_and_usps_address", arg_flag: :overwrite_household_address, addr_type: "mailing", arg_address: @household_physical_address, arg_ups_address: @usps_address %>
					     	<%= render "address_enetered_fields", arg_object: f %>
					     	 <p>
						        <%= link_to 'Back', edit_household_address_path(@household_physical_address.id,@household.id), class: "secondary button radius" %>
						        <%= f.submit "Save", class: 'button radius' %>
						    </p>
				    <% end %>
	</section>
</fieldset>