
<!--Manoj Patil 03/19/2016  -->
<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Add members from the household who are moving to this new address") %></legend>
		<p>
		 <%= render 'households/selected_household_partial',arg_household: @household %>
		</p>
		<p>
			<%= render 'household_physical_address', arg_addr:@new_address %>
		</p>
		<%if @members_moved_to_new_address_collection.present?%>
			<%= render 'members_in_new_address',arg_collection:@members_moved_to_new_address_collection,arg_address:@new_address %>
		<% end %>
		<%= form_for(@client_entity_address_object, :url => create_member_to_new_household_address_path(@new_address.id), method: :post) do |f| %>
		    <%= render "shared/common_error", object_argument: @client_entity_address_object %>
		    	<ul>
			     	<div class="row">
			          <div class="large-4 columns">
			               <li class="required">
							      <%= f.label :entity_id, "Household Member" %>
							      <%= f.select :entity_id, @available_members.collect { |p| ["#{client_full_name(p)}", p.id] },{ :include_blank => 'Select household member' } %>
							</li>
				 	  </div>
				    </div>
				</ul>
			    <p>
			    	<%= link_to 'Back',start_change_household_address_wizard_path(@new_address.id) ,class: "secondary button radius" %>
			        <%= f.submit "Save & Add",:name => "save_and_add",class: 'button radius' %>
			        <%= f.submit "Save & Exit",:name => "save_and_exit",class: 'button radius' %>
			    </p>
		   <% end %>
	</section>
  </fieldset>