 <p>
  <b>Parent's Name:</b>
  <%= get_client_full_name(arg_absent_parent.id) %>
</p>

<li class="required">
  <%= arg_object.label :deprivation_code %>

  <%= arg_object.select :deprivation_code, CodetableItem.item_list(61,"Deprivation code List").collect { |p| ["#{p.short_description} ", p.id] },{ :include_blank => 'Select a deprivation reason ' } %>
</li>

<li >
      <fieldset class="radio">
          <div class="required">
              <legend class="radiolegend">Good Cause</legend>
          </div>
    <div class="button-group">
      <label class="radio-button"><%= arg_object.radio_button :good_cause, "Y"%>&nbsp;Yes</label>
      <label class="radio-button"><%= arg_object.radio_button :good_cause, "N"%>&nbsp;No</label>
    </div>
</fieldset>
</li>

<li >
  <fieldset class="radio">
  <legend class="radiolegend">Married At Birth</legend>
    <div class="button-group">
      <label class="radio-button"><%= arg_object.radio_button :married_at_birth, "Y"%>&nbsp;Yes</label>
      <label class="radio-button"><%= arg_object.radio_button :married_at_birth, "N"%>&nbsp;No</label>
    </div>
</fieldset>
</li>

<li >
  <fieldset class="radio">
  <legend class="radiolegend">Paternity Established</legend>
    <div class="button-group">
      <label class="radio-button"><%= arg_object.radio_button :paternity_established, "Y"%>&nbsp;Yes</label>
      <label class="radio-button"><%= arg_object.radio_button :paternity_established, "N"%>&nbsp;No</label>
    </div>
</fieldset>
</li>


<li>
  <%= arg_object.label :court_order_number %>
  <%= arg_object.text_field :court_order_number, title1: "Court Order Number",maxlength: "10" %>
</li>

<li>
        <%= arg_object.label :court_ordered_amount %>
        <%= arg_object.number_field :court_ordered_amount, placeholder:"$" ,:step => 0.01,onkeypress: "return isCurrency(event)", onkeyup: "setDecimalValue(event)" %>

 </li>



 <li>
        <%= arg_object.label :amount_collected %>
        <%= arg_object.number_field :amount_collected, placeholder:"$" ,:step => 0.01,onkeypress: "return isCurrency(event)", onkeyup: "setDecimalValue(event)" %>

 </li>

<%= render "notes/notes_field_new_edit", object_argument: arg_notes %>








