<fieldset>
<section class="solidbody">
	<legend><%= set_subheader("Enter address information for provider: #{@provider.provider_name}") %></legend>
	  <%= render "providers/selected_provider" %>
	    <% if session[:PROVIDER_ID].present? %>
	  		<%= form_for @address, url: create_provider_address_path, method: :post do |f| %>
		     	<%= render "shared/common_error", object_argument: @addresses_error_messages %>
		     	<%= render './addresses/form',arg_object: f %>
		     	 <p>
			        <%= link_to 'Cancel', show_provider_address_path, class: "secondary button radius" %>
			        <%= f.submit "Save", class: 'button radius' %>
			    </p>
	     	<% end %>
	    <% else %>
	    	<h5 class="subheader">Provider is not selected, Select a provider by clicking Search button.</h5><br>
	    	<p></p>
	    	<%= link_to 'Search', new_provider_search_path,class: "button radius" %>
		<% end %>
</section>
</fieldset>