<fieldset>
	<section class="solidbody">
		<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD'%>
            <legend><%= set_subheader("Edit resource use data for household member: #{client_full_name(@client)}") %> </legend>
            <p>
            	<%= (render 'households/selected_household_partial',arg_household: @household) if @household.present?%>
            	<%= render "resource_adjustments/parent_resource",arg_resource: @resource  %>
				      <%= render "resource_adjustments/parent_resource_detail",arg_resource_detail:@resource_detail %>
            </p>
            <%= form_for(@resource_use,:url => update_household_member_resource_detail_usage_path(@client.id,@resource_detail.id,@resource_use.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'), method: :put) do |f| %>
                 <%= render "shared/common_error", object_argument: @resource_use %><br>
                  <ul>
                      <div class="row">
                          <div class="large-4 columns">
                               <%= render 'form',f: f %>
                          </div>
                      </div>
                  </ul>
                <p>
                 <%= link_to 'Back',household_member_resource_detail_uses_index_path(@client.id,@resource_detail.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'),class: "secondary button radius" %>
                    <%= f.submit "Save",class: "button radius" %>
                </p>
            <% end %>
        <% else %>
        		<legend><%= set_subheader("Edit resource use for: #{client_full_name(@client)}") %> </legend>
					<%= render "resource_adjustments/parent_resource",arg_resource: @resource  %>
          <%= render "resource_adjustments/parent_resource_detail",arg_resource_detail:@resource_detail %>
				<%= form_for(@resource_use, :url => update_resource_uses_path(@resource_use.id), method: :patch) do |f| %>
				<%= render "shared/common_error", object_argument: @resource_use %>
					<ul>
				 	<div class="row">
				    	<div class="large-4 columns">

								<%= render 'form',f: f %>
						</div>
					</div>
					</ul>

					<p>
				       	<%= link_to 'Cancel', show_resource_uses_path(@resource_use.id),class: "secondary button radius" %>
						<%= f.submit "Save", class: 'button radius'%>
				    </p>

				<% end %>
        <% end %>


	</section>
</fieldset>
