<body onload = "set_payment_amount()">
<ul>
	<div class="row">
		<div class="large-4 columns">
	        <!-- <li>
	            <%#= arg_object.label :program_unit_id, "Program type" %>
	            <%#= arg_object.select :program_unit_id, SuplRetroBnsPayment.get_program_types.order("short_description").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'select program type' }, id: "supplement_pymt_program_type", onchange: "set_payment_type_dropdown()" %>
	        </li> -->

	        <li class="required">
	            <%= arg_object.label :payment_type %>
	            <%= arg_object.select :payment_type, arg_payment_types.collect { |p| ["#{p.short_description} ", p.id ] },{:include_blank => 'select payment type'}, id: "supl_retro_bns_payment_payment_type", onchange: "set_payment_amount()" %>
	        </li>


	        <li class="required">
	         	<%= arg_object.label :payment_month %>
	         	<%= arg_object.date_field :payment_month, id: "supl_retro_bns_payment_payment_month", onkeyup:"validate_date_format(event)" %>
	        </li>

	        <input type="hidden" name="current_date" id="current_date" value = "<%= "#{arg_current_date}"%>" >

	        <!-- <li>
	         	<%#= arg_object.label :status, "#{@characteristic_table_name}" %>
	            <%#= arg_object.select :status, @characteristic_table.all.order("short_description").collect { |p| ["#{p.short_description} ", p.id ] },{:include_blank => 'select payment type'} %>
	        </li> -->

	        <li class="required">
              	<%= arg_object.label :payment_amount %>
              	<%= arg_object.number_field :payment_amount,id: "supl_retro_bns_payment_payment_amount", placeholder:"$" ,:step => 0.01,onkeypress: "return isCurrency(event)", onkeyup: "setDecimalValue(event)" %>
            </li>

            <input type="hidden" name="payment_amount" id="bonus_pymt_amt" value = "<%= "#{arg_payment_amount}"%>" >

            <% if arg_payment_status.present? %>
	            <li>
		         	<%= arg_object.label :payment_status %>
		            <%= arg_object.select :payment_status, arg_payment_status.all.order("short_description").collect { |p| ["#{p.short_description} ", p.id ] },{:include_blank => 'select payment status'} %>
		        </li>
	        <% end %>
	        <li>
	        	<%= arg_object.label :reason %>
	        	<%= arg_object.text_area :reason, maxlength: "255" %>
        	</li>
	    </div>
    </div>
</ul>
</body>