<!--
Rule1) Client not found in the session - inform Client is not found in session - show Client Search Link.
Rule 2) If No Phone records are found - inform the user -and show New button , so that new records can be     created.
Rule 3) If Phone records are found for the client - show all phone records in a loop.
-->
<fieldset>
<section class="solidbody">
<% if session[:PROVIDER_ID].present? %>
	<legend><%= set_subheader("Contact information for provider:  #{@provider.provider_name}" ) %></legend>
	<%= render "providers/selected_provider" %>
		 <% if @primary_phone.present? || @secondary_phone.present? || @other_phone.present? || @notes.present? || @email.present?%>
			<!-- record found so Normal View Page -->


				<% if @primary_phone.present? %>
					<P>
		           		<b><%= drop_down_value_description(4661) %>:</b>
		           		<%= @primary_phone.present? ? format_phone_number(@primary_phone.phone_number) : ""%>
		           </p>
	           <% end %>

	            <% if @secondary_phone.present? %>
		           <P>
		           		<b><%= drop_down_value_description(4662) %>:</b>
		           		<%= @secondary_phone.present? ? format_phone_number(@secondary_phone.phone_number) : "" %>
		           </p>
	            <% end %>

	            <% if @other_phone.present? %>
		            <P>
		           		<b><%= drop_down_value_description(4663) %>:</b>
		           		<%= @other_phone.present? ? format_phone_number(@other_phone.phone_number) : "" %>
		            </p>
	            <% end %>

                <P>
                	<% if @provider.email_address.present? %>
	           		<b> Email: </b>
	           		<%= @provider.email_address%>
	           		<%end%>
	            </p>


					<p>
						<% if @notes.present? %>
					 <b>Notes: </b>

						 <%=  @notes %>
						<%end%>
					</p>



			<% if validate_authorization(545) %>
	         	<%= link_to 'Edit',edit_provider_contact_path, class: "button radius"%>
         	<% end %>

		<% else %>
			<!-- record not found , so show New button. -->
			<% if validate_authorization(544) %>
				<h5 class="subheader"> Contact information for provider is not found. Click New to enter contact information.</h5>
				<p></p>
				<%= link_to 'New',new_provider_contact_path, class: "button radius" %>
			<% else %>
				<h5 class="subheader"> No contact information for provider to show.</h5>
			<% end %>
		<% end %>

<% else %>
		<h5 class="subheader">Provider is not selected, Select provider by clicking Search button.</h5>
			<p></p>
			<%= link_to 'Search',provider_new_search_path, class: "button radius" %>
	<% end %>
</section>
</fielsdet>