
<p>
 <b> Trip Start Address:  </b><br>
	 <%= arg_object.trip_start_address_line1 %><br>
	 <%= "#{arg_object.trip_start_address_line2}, " if  arg_object.trip_start_address_line2.present? %>
	 <%= "#{arg_object.trip_start_address_city},"  %>
	 <%= "#{drop_down_value_long_description(arg_object.trip_start_address_state)},"  %>
	 <%= arg_object.trip_start_address_zip  %>
</p>

