<%= form_for(@client_assessment, :url => withdraw_assessment_save_path, method: :post) do |f| %>

  <section class="solidbody">
<fieldset>
       <legend><%= set_subheader("Withdraw reason for client: #{client_full_name(@client)}") %> </legend>
       <%= render "shared/common_error", object_argument: @client_assessment %><br>
        <ul>
          <p>
             <%= render  "/client_assessment_answers/selected_assessment",arg_short_term_goal: @action_plan_short_term_goals,arg_client:@client,arg_assessment_object: @assessment_object%>
          </p>

      <div class="row">
         <div class="large-5 columns">

                   <%= f.label :withdraw_reason,"Withdraw Reason"%>
                   <%= f.select :withdraw_reason, CodetableItem.item_list(189,"Assessment Withdraw reasons").collect { |p| ["#{p.short_description} ", p.id] },{:include_blank => "select Withdraw reasons " } %>
 </div>
   </div>
</ul>
   <p>
    <%= link_to "Cancel",show_assessment_recommendations_path(session[:CLIENT_ASSESSMENT_ID].to_i),class: 'secondary button radius'%>
    <%= f.submit "Save",class: 'button radius' %>
   </p>


    </fieldset>
    </section>
<% end %>
