<ul>
    <fieldset>
        <div class="row">
            <div class="large-4 columns">
                <%= arg_object.hidden_field :in_care_of %>
                <%= arg_object.hidden_field :address_line1 %>
                <%= arg_object.hidden_field :address_line2 %>
                <%= arg_object.hidden_field :city %>
                <%= arg_object.hidden_field :state %>
                <%= arg_object.hidden_field :zip %>
                <%= arg_object.hidden_field :zip_suffix %>
                <%= arg_object.hidden_field :address_type %>
                <%= arg_object.hidden_field :save_prior_mailing_address %>
                <%= arg_object.hidden_field :non_mailing_addr_same_as_mailing %>
                <%= arg_object.hidden_field :non_mailing_in_care_of %>
                <%= arg_object.hidden_field :non_mailing_address_line1 %>
                <%= arg_object.hidden_field :non_mailing_address_line2 %>
                <%= arg_object.hidden_field :non_mailing_city %>
                <%= arg_object.hidden_field :non_mailing_state %>
                <%= arg_object.hidden_field :non_mailing_zip %>
                <%= arg_object.hidden_field :non_mailing_zip_suffix %>
                <%= arg_object.hidden_field :effective_begin_date %>
                <%= arg_object.hidden_field :living_arrangement %>
                <%= arg_object.hidden_field :non_mailing_address_type %>
                <%= arg_object.hidden_field :save_prior_non_mailing_address %>
                <%= arg_object.hidden_field :primary %>
                <%= arg_object.hidden_field :secondary %>
                <%= arg_object.hidden_field :other %>
                <%= arg_object.hidden_field :email_address %>
                <%= arg_object.hidden_field :notes %>
                <%= arg_object.hidden_field :required_mailing_address_confirmation %>
                <%= arg_object.hidden_field :required_non_mailing_address_confirmation %>
                <%#= arg_object.hidden_field :primary_contact %>
            </div>
        </div>
  </fieldset>
</ul>