<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Enter address information for: #{client_full_name(@client)}") %></legend>

		    <% if session[:CALLED_FROM_HOUSEHOLD_REGISTRATION_PAGE].present? &&  session[:CALLED_FROM_HOUSEHOLD_REGISTRATION_PAGE] == 'Y' %>
		    	<%= form_for @address, url: household_member_validate_address_path, method: :post do |f| %>
					<%= render "shared/common_error", object_argument: @addresses_error_messages %>
					<%= render 'form',arg_object: f,arg_address: @address %>
					<p>
					    <%= link_to 'Back', start_household_member_registration_wizard_path, class: "secondary button radius" %>
					    <%= f.submit "Save", class: 'button radius' %>
					</p>
				<% end %>
		    <% elsif session[:CALLED_FROM_ABSENT_PARENT_REGISTRATION_PAGE].present? &&  session[:CALLED_FROM_ABSENT_PARENT_REGISTRATION_PAGE] == 'Y' %>
		    	<%= form_for @address, url: household_absent_parent_validate_address_path, method: :post do |f| %>
					<%= render "shared/common_error", object_argument: @addresses_error_messages %>
					<%= render 'form',arg_object: f,arg_address: @address %>
					<p>
					    <%= link_to 'Back', start_household_absent_parents_wizard_path, class: "secondary button radius" %>
					    <%= f.submit "Save", class: 'button radius' %>
					</p>
				<% end %>
		   <% else %>
		    		<% if session[:CLIENT_ID].present? %>
				  		<%= form_for @address, url: validate_address_path, method: :post do |f| %>
					     	<%= render "shared/common_error", object_argument: @addresses_error_messages %>
					     	<%= render 'form',arg_object: f,arg_address: @address %>
					     	 <p>
						        <%= link_to 'Cancel', show_contact_information_path, class: "secondary button radius" %>
						        <%= f.submit "Save", class: 'button radius' %>
						    </p>
				     	<% end %>
				    <% else %>
				    	<h5 class="subheader">Client is not selected, Select a client by clicking Search Client button.</h5><br>
				    	<p></p>
				    	<%= render "shared/search_client_button" %>
					<% end %>
		    <% end %>





	</section>
</fieldset>