<fieldset>
<section class="solidbody">
<legend><%= set_subheader("Enter cost center information") %> </legend>
<%= form_for @cost_center, :url => cost_centers_path, :method => :post do |f| %>
  <%= render "shared/common_error", object_argument: @cost_center %>
	<%= render 'form',arg_object: f %>
 	<%= link_to 'Cancel', cost_centers_path,class: "secondary button radius" %>
 	<%= f.submit "Save", class: 'button radius'%>
<% end %>
</section>
</fieldset>