<fieldset>
	<section class="solidbody">
		<legend> <%= set_subheader("Enter #{(drop_down_value_description(@action_plan_detail.entity_type)).camelize(:lower)} extension information for: #{client_full_name(@client)}") %> </legend>
		<%= form_for(@schedule_extension,:url => create_apd_extension_path(@action_plan, @action_plan_detail), method: :post) do |f| %>
			<body onload = "set_action_plan_detail_extension_button()">
				<%= render "selected_action_plan_detail",arg_action_plan_detail:@action_plan_detail %>
				 <%= render "shared/common_error", object_argument: @schedule_extension %><br>
				 <%= render "shared/common_warning", object_argument: @warnings %><br>
	   			 <ul>
					<div class="row">
		          		<div class="large-5 columns">
		          			<li class="required">
				    	        <%= f.label :extension_duration %>
				    	        <%= f.number_field :extension_duration,onkeypress: "return isNumberKey(event)",id: "action_plan_detail_extension_duration" %>
				    	    </li>

				    	    <li>
				    	        <%= f.label :extension_reason %>
				    	        <%= f.text_area :extension_reason, cols: 40, rows: 7,id: "action_plan_detail_extension_reason" %>
				    	    </li>
						</div>
					</div>
				</ul>
				<%#= f.hidden_field :warning_count, id: "action_plan_detail_extension_warning" %>
				<%= hidden_field_tag 'warning_count', @action_plan_detail.warning_count, id: "action_plan_detail_extension_warning" %>
				 <p>
				 	<%= link_to 'Cancel', action_plan_action_plan_detail_path(@action_plan, @action_plan_detail),class: "secondary button radius"%>
				 	<%= f.submit "Skip Warnings", class: 'button radius',id: "action_plan_detail_extension_skip_warnings" %>
			    	<%= f.submit "Save", class: 'button radius',id: "action_plan_detail_extension_save" %>
			    </p>
		    </body>
		<% end %>
	</section>
</fieldset>