<fieldset>
	<section class="solidbody">
		<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD' %>
			<legend> <%= set_subheader("#{drop_down_value_description(@income.incometype)} income adjustment details for household member: #{client_full_name(@client)}") %> </legend>
			<%= (render 'households/selected_household_partial',arg_household: @household) if @household.present?%>
		<% else %>
			<legend> <%= set_subheader("#{drop_down_value_description(@income.incometype)} income adjustment details for: #{client_full_name(@client)}") %> </legend>
		<% end %>


		<%= render "/income_details/parent_income",arg_income: @income %>
		<%= render "parent_income_detail", arg_income_detail:@income_detail %>
		<p></p>
		<table>
			<caption style="text-align:inherit">
			<div class="fontc">
			<%= "Adjustment details" %>
			</div>
			<p> </p> </caption>
			<thead>
			    <tr>
					<th> Adjustment Amount </th>
					<th> Adjustment Reason </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<% @adjust_reasons.each do |adjust_reason| %>
				 <tr>
				  <td>  <%=  number_to_currency_br(adjust_reason.adjusted_amount) %></td>
				  <% if adjust_reason.adjusted_reason.present? %>
				  	<td>  <%= drop_down_value_description(adjust_reason.adjusted_reason) %></td>
				  <% else %>
				    <td></td>
				  <% end %>
				  <td>
				  	<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD' %>
				  		<%= link_to 'Show', show_household_member_unearned_income_detail_adjust_reason_path(@client.id,@income_detail.id,adjust_reason.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'),id: "hyperlink" %>
				  	<% else %>
				  		<%= link_to 'Show', unearned_income_detail_income_detail_adjust_reason_path(@menu,@income_detail.id,adjust_reason.id),id: "hyperlink" %>
				  	<% end %>

					</td>
				 </tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @adjust_reasons %>

		<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD' %>
			<%= link_to 'Back', household_member_unearned_income_detail_index_path(@client.id,@income.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'),class: " secondary button radius" %>
			<%= link_to("Add Adjustment", new_household_member_unearned_income_detail_adjust_reason_path(@client.id,@income_detail.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'), class: 'button radius') %>
			<%= link_to("Next", household_member_unearned_income_detail_index_path(@client.id,@income.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'), class: 'button radius') if IncomeDetailAdjustReason.income_detail_adjust_reason_found_for_the_given_income_detail?(@income_detail.id) %>

		<% else %>
			<%= link_to("Back", unearned_income_income_details_path(@menu,@income_detail.income_id) , class: 'secondary button radius') %>
			<%= link_to("Add Adjustment", new_unearned_income_detail_income_detail_adjust_reason_path(@menu,@income_detail.id) , class: 'button radius') %>
		<% end %>



	</section>
</fieldset>