<fieldset>
<section class="solidbody">
<legend><%= set_subheader("Enter service information for provider: #{provider_name(@provider)}" ) %></legend>
<%= render "providers/selected_provider" %>
<%= form_for @providerservice, :url => provider_services_create_path, :method => :post do |f| %>
  <%= render "shared/common_error", object_argument: @providerservice %>
	<%= render 'form_provider_service',arg_object: f %>
 	<%= link_to 'Cancel', provider_services_path,class: "secondary button radius" %>
 	<%= f.submit "Save", class: 'button radius'%>
<% end %>
</section>
</fieldset>