<% if arg_pgu_benfit_members.present? %>
<b><h6>Program Unit Benefit Members </h6></b>
		<table>
			<thead>
				<tr>
					<th> Name </th>
					<th> SSN </th>
					<th> Gender </th>
					<th> Date of Birth </th>
					<th> Status </th>
					<th> Primary Member</th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<%  arg_pgu_benfit_members.each do |arg_m| %>
					<%# client_object = Client.find(arg_m.client_id)%>
					<tr>
						<td>  <%=  arg_m.client_full_name %></td>
						<td>  <%=  format_SSN(arg_m.ssn) %></td>
						<td>  <%=  drop_down_value_description(arg_m.gender) %></td>
						<td>  <%=  format_db_date (arg_m.dob) %></td>
						<td>  <%=  drop_down_value_description(arg_m.member_status) %></td>
						<td> <%= check_primary_member_flag(arg_m.program_wizard_id,arg_m.client_id)%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
<%end%>