<!--Manoj Patil 10/16/2014  -->
<!-- Used in 4th step-->
<table>
	<caption style="text-align:inherit"><b>Income summary for selected members</b><p></p></caption>
  	<thead>
    	<tr>
			<th> Name </th>
			<th> Income Type </th>
			<th> Source</th>
			<th> Begin Date </th>
			<th> End Date </th>

		</tr>
	</thead>
	<tbody>
		<% arg_collection.each do |arg_income_detail| %>

			<tr>
				<td>  <%= get_client_full_name(arg_income_detail.client_id) %></td>
				<td><%=  drop_down_value_description(arg_income_detail.incometype)%></td>
				<td>  <%= arg_income_detail.source %></td>
				<td><%= format_db_date(arg_income_detail.effective_beg_date) %></td>
				<td><%= format_db_date(arg_income_detail.effective_end_date) %></td>
			</tr>
		<% end %>
	</tbody>
</table>