<fieldset>
  <section class="solidbody">
<%= set_subheader("Create a new employer") %>
<fieldset>
  <%= form_for(@employer, url: employers_path) do |f| %>
  <%= render "shared/common_error", object_argument: @employer %>
    <ul>
      <div class="row">
        <div class="large-4 columns">
			<%= render 'form',arg_object: f,arg_employer:@employer,arg_notes: @notes  %>
        </div>
      </div>
    </ul>

    <p>
    	 <%= link_to 'Cancel', employer_new_search_path,class: "secondary button radius" %>
    	 <%= f.submit "Save", class: 'button radius' %>
    </p>

<% end %>
  </fieldset>
  </section>
</fieldset>