<fieldset>
<section class="solidbody">
	<legend><%= set_subheader("Edit system parameter category for : #{@systemparamcategory.description}") %></legend>
	<%= form_for(@systemparamcategory, :url => system_param_category_path, method: :put) do |f| %>
		<%= render 'form', :arg_object => f %>
		 <p>
	      <%= link_to 'Cancel', system_param_categories_path,class: "secondary button radius" %>
	      <%= f.submit "Save" , class: 'button radius' %>
         </p>
	<%end%>
</section>
</fieldset>