<fieldset>
<section class="solidbody">
  <legend><%= set_subheader("Enter a system parameters category") %></legend>
   <%= form_for(@systemparamcategory, :url => system_param_categories_path, method: :post) do |f| %>
  	  <%= render 'form', :arg_object => f %>
  	   <p>
	      <%= link_to 'Cancel', system_param_categories_path,class: "secondary button radius" %>
	      <%= f.submit "Save" , class: 'button radius' %>
      </p>
  <%end%>
</section>
</fieldset>