
<fieldset>
	<section class="solidbody">
		<% if  @menu == 'HOUSEHOLD_MEMBER_STEP_WIZARD'%>
			<p>
					<%= (render 'households/selected_household_partial',arg_household: @household) if @household.present?%>
				</p>
				<legend><%= set_subheader("Edit #{drop_down_value_description(@resource.resource_type)} resource for: #{client_full_name(@client)}") %></legend>
				<%= form_for(@resource, :url => update_household_member_resource_path(@client.id,@resource.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'), method: :put) do |f| %>
					<%= render "shared/common_error", object_argument: @resource %><br>
			        <ul>
				     	<div class="row">
				          <div class="large-5 columns">
				               <%= render 'form',f: f,arg_notes:@notes %>
					 	  </div>
					    </div>
					</ul>
					<p>
	 					<%= link_to 'Back', start_household_member_registration_wizard_path,class: "secondary button radius" %>
				   	 	<%= f.submit "Save", class: 'button radius' %>
					</p>
				<% end%>

		<% else%>
			<%= form_for(@resource, :url => resource_path(@resource.id), method: :put) do |f| %>
					<legend><%= set_subheader("Edit #{drop_down_value_description(@resource.resource_type)} resource for: #{client_full_name(@client)}") %></legend>

				 <%= render "shared/common_error", object_argument: @resource %><br>
				  <ul>
			     	<div class="row">
			          <div class="large-5 columns">
			               <%= render 'form',f: f,arg_notes:@notes %>
				 	  </div>
				    </div>
				</ul>
			    <p>
			 		<%= link_to 'Cancel', expenses_path,class: "secondary button radius" %>
				    <%= f.submit "Save", class: 'button radius' %>
			    </p>

			<% end %>

		<% end %>



	 </section>
</fieldset>
