<!--
Rule1) Client not found in the session - inform Client is not found in session - show Client Search Link.
Rule 2) If No Address records are found - inform the user -and show New button , so that new records can be     created.
Rule 3) If Address records are found for the client - show Mailing & Residential address records in a loop.
-->
<fieldset>
<section class="solidbody">
<% if session[:CLIENT_ID].present? %>

     <% if @addresses.present? %>
      <!-- record found so Normal View Page -->


        <legend><%= set_subheader("Address information for: #{client_full_name(@client)}" ) %></legend>
         <%= render "show_address_partial" %>

            <p>
              <% if @notes.present? %>
                <b>Notes: </b>
                <%=  @notes %>
              <%end%>
            </p>

            <p></p>
            <%= link_to 'Edit',edit_address_path, class: "button radius"%>

     <% else %>
      <!-- record not found , so show New button. -->

          <legend><%= set_subheader("Address information for : #{client_full_name(@client)}" ) %></legend>
          <h5 class="subheader">No address information found. Click New to add address information.</h5>
          <p></p>
          <%= link_to 'New',new_address_path, class: "button radius"%>

     <% end %>

<% else %>
        <legend><%= set_subheader("View address information" ) %></legend>
      <h5 class="subheader">Client is not selected, select a client by clicking search client button.</h5>
      <p></p>
      <%= render "shared/search_client_button" %>
  <% end %>
</section>
</fieldset>