<fieldset>
  <section class="solidbody">

	<%= set_subheader("Edit school Information") %>
	<fieldset>
	    <%= form_for(@school, url: edit_school_path,:method => :PATCH) do |f| %>
		    <%= render "shared/common_error", object_argument: @school %>
		    <ul>
		      <div class="row">
		        <div class="large-4 columns">
					<%= render 'form',arg_object: f,arg_notes:@notes  %>
		        </div>
		      </div>
		    </ul>

		    <p>
		    	<%= link_to 'Cancel', show_school_path(@school.id),class: "secondary button radius" %>
		    	<%= f.submit "save", class: 'button radius' %>
		    </p>

	    <% end %>
	  </fieldset>

  </section >
</fieldset>