<fieldset>
<section class="solidbody">
	<legend><%= set_subheader("Edit code table for : #{@codetable.name}") %></legend>
	<%= form_for(@codetable, :url => code_table_path(@codetable.id), method: :put) do |f| %>
      <%= render 'form', arg_object: f %>
      <p>
	      <%= link_to 'Cancel', code_tables_path,class: "secondary button radius" %>
	      <%= f.submit "Save" , class: 'button radius' %>
      </p>
	<% end %>
</section>
</fieldset>