<fieldset>
<section class="solidbody">
<legend><%= set_subheader("Expense summary for: #{client_full_name(@client)}") %></legend>
	<% if session[:CLIENT_ID].present? %>
		<% if @expense_Collection.present? %>
		<% @expense_Collection.each do |expense| %>
		<table>
			<caption class="fontc"><p><%= "Expense: #{drop_down_value_description(expense.expensetype)}"%></p></caption>
		  <thead>
		    <tr>
				<th> Type of Expense </th>
				<th> Frequency </th>
				<th> Begin Date </th>
				<th> End Date </th>
				<th colspan="2"> Recalculate Indicator </th>
			</tr>
		  </thead>
		    <tbody>
					<tr>
						<td>  <%= drop_down_value_description(expense.expensetype) %></td>
						<td>  <%= drop_down_value_description(expense.frequency) %></td>
						<td>  <%=  format_db_date expense.effective_beg_date %></td>
						<td>  <%=  format_db_date expense.effective_end_date %></td>
						<td>  <%= get_flag_description(expense.budget_recalc_ind) %>  </td>
					</tr>
			</tbody>

			<%if @expense_details_collection.present?%>
				<thead>
				    <tr>
						<th> Date </th>
		 				<th> Amount </th>
		 				<th> Use </th>
		 				<th> Payment Method </th>
		 				<th> Payment Status </th>
		 				<th> Count </th>
					</tr>
				</thead>
				<tbody>
				  	<% @expense_details_collection.each do |expense_detail| %>
						<%if expense_detail.expense_id == expense.id %>
						<tr>
							<td>  <%=  format_db_date expense_detail.expense_due_date %></td>
			 				<td>  <%=  number_to_currency_br(expense_detail.expense_amount)%></td>
			 				<td>  <%= drop_down_value_description(expense_detail.expense_use_code) %></td>
			 				<td>  <%= drop_down_value_description(expense_detail.payment_method) %></td>
			 				<td>  <%= drop_down_value_description(expense_detail.payment_status) %></td>
			 				<td>  <%= get_flag_description(expense_detail.expense_calc_ind) %>  </td>
						</tr>
						<% end %>
					<%end%>
				</tbody>
			<%end%>
		</table>
		<% end %>
		<%= link_to 'Back', expenses_path,class: "secondary button radius" %>
		<%else%>
				<p>
			    <h5 class="subheader">No expense information found.</h5>
		        </p>
		<%end%>
	<%else%>
		    <p>
	        <h5 class="subheader">Client is not selected, Select client by clicking Search Client button.</h5>
	        </p>
	        <%= render "shared/search_client_button" %>
	<%end%>
</section>
</fieldset>