<!--Manoj Patil 10/16/2014  -->
	<% if arg_family_type.present? %>
		<p>
			<b> Case Type: </b><%= " #{arg_case_type}"  %>
		</p>
	<% end %>

<% if arg_app_rslts.present? %>

		<b>   </b>
		<table>
			<caption style="text-align:inherit"><b>Application Screening Result</b><p></p></caption>
			<thead>
				<tr>
					<th> Name </th>
					<th> Age </th>
					<th> Item Type </th>
					<th> Result </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<% arg_app_rslts.each do |app_elig_rslt| %>
					<tr>
						<td>  <%=  get_client_full_name(app_elig_rslt.client_id) %></td>
						<td>  <%= get_age(app_elig_rslt.client_id) %>
						<td>
							<% if app_elig_rslt.data_item_type == 6085 %>
								<%= get_violated_characteristics_messsage(app_elig_rslt.client_id) %>
							<% else %>
								<%=  CodetableItem.get_short_description(app_elig_rslt.data_item_type) %>
							<% end %>
						</td>

						<% if app_elig_rslt.result %>
							<td id = "col-result-pass">Pass</td>
						<% else %>
							<td id = "col-result-fail">Fail</td>
							<% if app_elig_rslt.data_item_type != 6085 %>
								<td> <%= link_to 'Fix Data', application_eligibility_correction_link_path(app_elig_rslt.id,"APP_SCREENING_RESULTS_MENU") ,id: "hyperlink" %></td>
							<% end %>
						<% end %>

						<!--
						<td>  <%#=  app_elig_rslt.result ? "Pass" : "Fail" %></td>
					-->

					</tr>
				<% end %>
			</tbody>
		</table>
<% else %>
	<b>   </b>
		<caption style="text-align:inherit"><b> Application Screening Result</b><p></p>	</caption>
		<p>
	    	<h5 class="subheader">Complete application screening to see the results.</h5>
        </p>
<% end %>
