<!--Manoj Patil 10/16/2014  -->
	<p>
		<% if arg_application_members.present? %>
				<table>
				<caption style="text-align:inherit"><b>Application Members </b><p></p>
		 		</caption>
					<thead>
						<tr>
							<th> Name </th>
							<th> Social Security Number </th>
							<th> Date of Birth </th>
							<th> Gender </th>

						</tr>
					</thead>
					<tbody>
						<%  arg_application_members.each do |arg_m| %>
						<tr>
							<td>  <%=  arg_m.client_full_name %></td>
							<td>  <%=  format_SSN(arg_m.ssn) %></td>
							<td>  <%=  format_db_date (arg_m.dob) %></td>
							<td>  <%=  drop_down_value_description(arg_m.gender) %></td>


						</tr>
						<% end %>
					</tbody>
				</table>


		<% end %>
	</p>

	<p>

		<% if arg_client_relationships.present? %>
				<table>
				<caption style="text-align:inherit"><b>Member Relationships </b><p></p>
		 		</caption>
				  <thead>
				  	  <tr>
						<th> Application Member </th>
						<th> Relationship </th>
						<th> Application Member</th>
					 </tr>

				  </thead>
				    <tbody>
						<% arg_client_relationships.each do |arg_reln| %>
							<tr>
								<td>  <%= "#{get_client_full_name(arg_reln.to_client_id)} is" %></td>
								<td>  <%= "#{drop_down_value_description(arg_reln.relationship_type)} of" %></td>
								<td>  <%= get_client_full_name(arg_reln.from_client_id) %></td>



							</tr>
						 <% end %>
					</tbody>

				</table>

		<% end %>
	</p>
