<!--Manoj Patil 10/16/2014  -->
<section class="solidbody">
<%= form_for(@client_doc_verification,:url => create_verification_document_path(@selected_application.id), method: :post) do |f| %>
<%= render "shared/common_error", object_argument: @client_doc_verification %>
 <fieldset>
 	<legend>
 	<%= set_subheader("Document verification for application member of selected application") %>
 	</legend>
 	<ul>
	     	<div class="row">
	          <div class="large-6 columns">
	              <%= render 'client_doc_verfications/form_document_verification', arg_object: f,arg_member_collection: @application_members %>
		 	  </div>
		    </div>
		</ul>
		<p>
	    	<%= link_to "Cancel",start_check_program_eligibility_wizard_path(@selected_application.id),class: 'secondary button radius'%>
	    	<%= link_to "Upload","#",class: 'button radius'%>

	       <%= f.submit "Save",class: 'button radius'%>
	    </p>

 </fieldset>
<% end %>
</section>
