<div id="footer">
	<ul>
		<%= link_to  "Privacy", "#"%>
		<%= link_to  "Terms & Conditions", "#"%>
		<%= link_to  "Security", "#"%>
		<%= link_to  "Accessibility", "#"%>
		<%= link_to  "Feedback", "#"%>
	</ul>
</div>


