<%= form_for(@client, :url => update_household_member_path, method: :put ) do |f| %>
	<section class="solidbody">
	  	<fieldset>
		  	<legend> <%= set_subheader("Edit demographic information for household member: #{client_full_name(@client)}") %> </legend><br>
		  	 <%= render "shared/common_error", object_argument: @client %><br>
		    <ul>
		        <div class="row">
		            <div class="large-4 columns">
		               <%= render 'clients/form',arg_object: f,arg_client: @client %>
		                <li>
						    <%= f.label :death_date%>
						    <%= f.date_field :death_date %>
						</li>
		               <%= render "notes/notes_field_new_edit", object_argument: @notes %>
			 	    </div>
		        </div>
			   </ul>
			    <p>
			    	<%= link_to 'Back', start_household_member_registration_wizard_path ,class: "secondary button radius" %>
			    	<%= f.submit "Save",class: 'button radius'%>
			    </p>
		</fieldset>
	</section>
<% end %>